{# ========================================================= #}
{# SECONDARY SECTIONS (Anime, Manga, News, Games, APK)       #}
{# ========================================================= #}

{# Anime Section #}
{% include 'main/components/anime_section.html' %}

{# News Section #}
{% include 'main/components/news_section.html' %}

{# Manga Section #}
{% include 'main/components/manga_section.html' %}

{# PC Games Section #}
{% include 'main/components/pc_games_section.html' %}

{# APK Section #}
{% include 'main/components/apk_section.html' %}